html {
    font-family: "Verdana", sans-serif;    
}

body {
    background-color: #c3acd0;
    color: #7743db;
    font-size: 20px;
    width: 700px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

a {
    color: #7743db;
}

img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.content-image {
    background-color: #7743db;
    margin: 10px;
}

.content-text {
    background-color: #f7efe5;
    color: #7743db;
    padding: 10px;
    margin: 10px;
}