html {
    font-family: "Verdana", sans-serif;    
}

body {
    background-color: #1d1d1d;
    color: #d1d1d1;
    font-size: 20px;
    width: 700px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

a {
    color: #d1d1d1;
}

img {
    width: 300px;
    height: auto;
}